* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arapey", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: #fafafa;
}

/* Header */
header {
  background: #f6f2d8;
  padding: 20px 40px;  
  align-items: center;
}

nav {
 display: flex;
 gap: 20px;
 font-size: 18px;
 justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 55px;
  color: #299D1E;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: white;
}

.menu {
  display: flex;
  justify-content:center;
  align-items: center;
  list-style: none;
  gap: 30px;
  background-color: #FF7700;
}

.gallery {

display: flex;
  justify-content:center;
  align-items: center;
  gap: 30px;
  margin-top: 15px;
}

#fname {
  width: 70px;
  background-color: #FDDDDD;
  
}

#iname {
  width: 70px;
  background-color: #E4DFDF;
}

#aname {
  width:300px ;
}

.Search-box {
  margin-top: 10px;
}

button {
  background-color: #DA6161;
}

.divForm{
  background-color: white;
  height: 60px;
}



footer {
  text-align: center;
  padding: 15px;
  font-size: 18px;
}

/* Phone */

@media (max-width: 769px) {
  .menu {
    display: flex;
    flex-direction: column;
  }

  .gallery {
    display: flex;
    flex-direction: column;
  }

  #aname {
    width: 200px;
  }
}

